<div class="row">
  <div class="col col-left">
    <app-filter></app-filter>
  </div>

  <div class="col col-right">
    <div class="appliedFilter" *ngIf="filters.launch_success || filters.land_success || filters.launch_year">
      <ng-container *ngIf="filters.launch_year">
        <div class="filter">
          Year: {{filters.launch_year}}
          <span (click)="removeFilter({filter: 'year'});">&times;</span>
        </div>
      </ng-container>
      <ng-container *ngIf="filters.land_success">
        <div class="filter">
          Land Successful: {{filters.land_success}}
          <span (click)="removeFilter({filter: 'land'});">&times;</span>
        </div>
      </ng-container>
      <ng-container *ngIf="filters.launch_success">
        <div class="filter">
          Launch Successful: {{filters.launch_success}}
          <span (click)="removeFilter({filter: 'launch'});">&times;</span>
        </div>
      </ng-container>
      <ng-container *ngIf="filters.launch_success || filters.land_success || filters.launch_year">
        <button class="clearFilter" (click)="removeFilter({filter : 'clear'});">Clear Filter</button>
      </ng-container>
    </div>

    <div class="program" *ngIf="spaceXprogramsData">
      <ng-container *ngIf="spaceXprogramsData.length != 0; else noData">
        <div class="box wid25" *ngFor="let spaceX of spaceXprogramsData">
          <div class="box-image">
            <img src="{{ spaceX.links.mission_patch_small }}" alt="img">
          </div>
          <div class="box-content">
            <p class="fal">{{ spaceX.mission_name }}</p>
            <ng-container *ngIf="spaceX.mission_id">
              <p class="mission"><b>Missions ids:</b></p>
              <ul>
                <li *ngFor="let id of spaceX.mission_id">{{ id }}</li>
              </ul>
            </ng-container>

            <p><b>Launch Year:</b> {{ spaceX.launch_year }}</p>
            <p><b>Successful Launch:</b> {{ spaceX.launch_success }}</p>
            <p><b>Successful Landing:</b> {{ spaceX.launch_landing }}</p>
          </div>
        </div>
      </ng-container>
      <ng-template #noData>
        <div class="noData">
          <h1>No Data Found!</h1>
        </div>
      </ng-template>



    </div>
  </div>
</div>
